bootRE/boot.elf
vendor/etc/dts/dts-eagle.lic
system/system/priv-app/Camera/Camera.apk
system/system/priv-app/NubiaRedmagickyi/NubiaRedmagickyi.apk
system/system/app/nubia_Browser/nubia_Browser.apk
system/system/app/nubia_DynamicWallpaper_679/nubia_DynamicWallpaper_679.apk
system/system/app/nubia_GameLauncher/nubia_GameLauncher.apk
system/system/app/NubiaFaceId/lib/arm64/libzteFaceRecognitionModels.so
system/system/app/NubiaGamepadOperation/NubiaGamepadOperation.apk
system/system/etc/faceclassifier/faceclassifier.dlc
system/system/etc/faceclassifier/faceclassifier.tflite
recovery.img
system_ext/preset_apps/WeiBo/Weibo_11.10.2_9170_90022_5281_221107.npk
system_ext/preset_apps/MobileBaidu/baidusearch_Android_13-2-0-32_1008614k.npk
system_ext/preset_apps/YunTing/yunting_v6.44.7.13282.npk
system_ext/priv-app/Settings/Settings.apk
modem.img
product/priv-app/GmsCore/GmsCore.apk
product/app/WebViewGoogle/WebViewGoogle.apk
